*{
    margin:0px;
    padding:0;
}
html,
body{
    height:100%;
    width:100%;
    overflow-x:hidden;
    background-size: cover;
    color:black;
}

a{
    text-decoration: none;
    cursor: pointer;
    color:black;
}

.page{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 1em;
}

footer {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    font-weight: lighter;
    width: 100%;
}

.wrapper.footer {
    margin-top: 0;
}

.wrapper {
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 50% 50%; */
    align-items: center;
    /* margin: 4em 3em 0 3em; */
    padding: 24px 24px;
}

@media only screen and (max-width: 768px){
    .wrapper {
        grid-auto-flow: row;
    }
}